		</div><!-- end spa-shell -->

	<footer class="py-2 bg-dark text-light mt-4">
		<div class="container-fluid d-flex justify-content-between align-items-center small">
			<span>
				<a href="https://theta42.com" target="_blank">
					<img width="64" src="/static/img/theta42.svg"/>
				</a>
				&copy; <%- buildYear %> <%- name %>. All rights reserved.
			</span>
			<a href="/tos" class="text-light text-decoration-none">Terms of Service</a>
			<span >v<%- buildVersion %> (<%- buildHash %>)</span>
		</div>
	</footer>
    </body>
</html>
