<%- include('top') %>
<script type="text/javascript">

	app.auth.isLoggedIn(function(error, isLoggedIn){
		if(isLoggedIn){
			window.location.href = app.util.getUrlParameter('redirect') || '/';
		}
	})

	$(document).ready(function(){

	});
</script>

<div class="row">
	<div class="card-deck">
		<div class="shadow-lg card mb-3">
			<div class="card-header">
				Password Log in
			</div>
			<div class="card-header actionMessage" style="display:none">
			</div>
			<div class="card-body">
				<form action="auth/login" onsubmit="formAJAX(this)" evalAJAX="app.auth.setToken(data.token);window.location.href = app.util.getUrlParameter('redirect') || '/';">
					<input type="hidden" name="redirect" value="<%= redirect %>">

					<div class="form-group">
						<label class="control-label">User name</label>
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" ><i class="fad fa-user"></i></span>
						  </div>
							<input type="text" name="uid" class="form-control" placeholder="jsmith" validate="user:3" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Password</label>
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" ><i class="fad fa-key"></i></span>
						  </div>
							<input type="password" name="password" class="form-control" placeholder="hunter123!" validate=":3" />
						</div>
					</div>

					<button type="submit" class="btn btn-outline-dark"><i class="fad fa-sign-in"></i> Log in</button>
				</form>
			</div>
		</div>
		<div class="shadow-lg card border-danger mb-3">
			<div class="card-header">
				Social Login
			</div>
			<div class="card-header actionMessage" style="display:none">
			</div>
			<div class="card-body">
				<div class="alert alert-warning actionMessage" style="display:none">
				</div>
				<h3>Coming soon!</h3>
				<p>
					<ul class="list-group">
						<li class="list-group-item"><i class="fab fa-google"></i> Login with google OATH</li>
						<li class="list-group-item"><i class="fab fa-github"></i> Login with github OATH</li>
						<li class="list-group-item"><i class="fab fa-facebook"></i> Login with facebook OATH</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="shadow-lg card mb-3">
			<div class="card-header">
				Password Reset
			</div>
			<div class="card-header actionMessage" style="display:none">
			</div>
			<div class="card-body">
				<p>
					Forgot your password? Or your user name? No problem! Just
					enter you email address below and if you are in our system,
					we will email with the required information to get back up
					and running!
				</p>
				<form action="auth/resetpassword" onsubmit="formAJAX(this)">
					<input type="hidden" name="redirect" value="<%= redirect %>">

					<div class="form-group">
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" ><i class="fad fa-at"></i></span>
						  </div>
							<input type="email" name="mail" class="form-control" placeholder="jsmith@gmail.com" required />
						</div>
					</div>

					<button type="submit" class="btn btn-outline-dark"><i class="fad fa-question"></i> Help me!</button>
				</form>
			</div>
		</div>
	</div>
	</div>
</div>
<%- include('bottom') %>
