<%- include('top') %>
<script type="text/javascript">
	$(document).ready(function(){

	});
</script>
<div class="row" style="display:none">
	<div class="col-md-12">
		<div class="card mb-3 shadow-lg">
			<div class="card-header">
				Password reset
			</div>
			<div class="card-header shadow actionMessage" style="display:none">
			</div>
			<div class="card-body">
				<p>
					<form action="auth/resetpassword/<%= token.token%>" method="post" onsubmit="formAJAX(this)">
						<div class="form-group">
							<label class="control-label">Password</label>
							<div class="input-group mb-3 shadow">
							  <div class="input-group-prepend">
							    <span class="input-group-text" ><i class="fad fa-key"></i></span>
							  </div>
								<input type="password" name="userPassword" class="form-control" placeholder="hunter123!" validate=":3" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Again</label>
							<div class="input-group mb-3 shadow">
							  <div class="input-group-prepend">
							    <span class="input-group-text" ><i class="fad fa-key"></i></span>
							  </div>
								<input type="password" name="password" class="form-control" placeholder="hunter123!" validate="eq:userPassword" />
							</div>
						</div>
						<button type="submit" class="btn btn-outline-dark">Change</button>
					</form>
				</p>
			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
