<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SSO Manager - Theta 42</title>
		<!-- CSS are placed here -->
		<!-- <link rel='stylesheet' href='/static/css/bootstrap.min.css' /> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel='stylesheet' href='/static/css/styles.css' />
		<!-- Scripts are placed here -->
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
		<!-- <script type="text/javascript" src='/static/js/jquery.min.js'></script> -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<!-- <script type="text/javascript" src='/static/js/bootstrap.min.js'></script> -->
		<script src="https://kit.fontawesome.com/4625ee80a2.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src='/static/js/mustache.min.js'></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
		<script type="text/javascript" src="/static/js/val.js"></script>
		<script type="text/javascript" src="/static/js/moment.js"></script>


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="shadow d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="hover-effect my-0 mr-md-auto font-weight-normal">SSO Manager - Theta 42</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="hover-effect text-dark p-2" href="/"><i class="fad fa-tachometer-alt-fastest"></i> Home</a>
				<a class="hover-effect text-dark p-2" href="/users"><i class="fad fa-users"></i> User Admin</a>
			</nav>
			<a class="hover-effect btn btn-outline-primary" onclick="app.auth.logOut(e => window.location.href='/')"><i class="fas fa-sign-out"></i> Log Out</a>

		</header>

		<!-- Container -->
		<div class="container">