<%- include('top') %>
<div class="row justify-content-center" style="display:none">
	<div class="col-md-8">
		<div class="card shadow-lg mt-4 mb-4">
			<div class="card-header shadow">
				<i class="fa-solid fa-file-contract"></i> Terms of Service
			</div>
			<div class="card-body">
				<%- tosHtml %>
			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
