<%- include('top') %>
<script id="rowTemplate" type="text/html">
	<tr action="user/password/{{ username }}" method="put" evalAJAX="$form.trigger('reset')">
		<td>
			{{ uidNumber }}:{{ uid }}	
		</td>
		<td>
			{{givenName}} {{sn}} {{mail}}
		</td>
		<td>
			<button type="button" onclick="app.user.remove({uid: '{{uid}}'}, function(){tableAJAX('username {{uid}} delete.')})" class="btn btn-sm btn-danger">
				Delete
			</button>
		</td>
	</tr>
</script>
<script type="text/javascript">

	function tableAJAX(actionMessage){
		var rowTemplate = $('#rowTemplate').html();

		$('#tableAJAX').html('').hide();
		app.util.actionMessage('Refreshing user list...')

		app.user.list(function(error, data){
			$.each( data.results, function(key, value) {
				user_row = Mustache.render(rowTemplate, value);
				$('#tableAJAX').append(user_row);
			});

			$('#tableAJAX').fadeIn('slow');

			app.util.actionMessage(actionMessage || '', {type: 'info'});

		});
	}

	$(document).ready(function(){
		tableAJAX(); //populate the table
	});
</script>
<div class="row" style="display:none">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				Add new user

			</div>
			<div class="card-body">
				<%- include('user_form') %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				User List
			</div>
			<div class="card-body" style="padding-bottom:0">
				<div class="alert alert-warning actionMessage" style="display:none">
					<!-- Message after AJAX action is preformed -->
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<th>Name</th>
							<th>Password</th>
							<th>Delete</th>
						</thead>
						<tbody id="tableAJAX">
							<!-- ajax loaded table -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
